

<div>
<h2 class="">List of Employees on the system</h2>
</div>

<div class="">
    <table id="tblEmployees" class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Employee Number</th>
                <th>First</th>
                <th>Last</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="/js/listEmployee.js"></script>