<div><h2>Menu</h2></div>

<div>
    <table id="tblDishes" class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Picture</th>
            <th>Vegan?</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="/js/listDishes.js"></script>



